$color1 : rgb(240, 240, 240);
$color2 : rgb(220, 220, 220);
$color3 : rgb(200, 200, 200);
$color4 : rgb(180, 180, 180);
$color5 : rgb(160, 160, 160);
$color6 : rgb(140, 140, 140);
$color7 : rgb(120, 120, 120);
$color8 : rgb(100, 100, 100);
$color9 : rgb(80, 80, 80);
$color10 : rgb(60,60, 60);
$color11 : rgb(40, 40, 40);
$color12 : rgb(20, 20, 20);
